/* index.html css */
body {
    background-color: #E56327;
}

.navbar {
    background-color: #0d47a1 !important;
   
}
.logo {
    width: 120px;
}
.nav-link {
    font-weight: bold !important;
    color: black !important;
}
.fa-shopping-cart,.fa-user {
    font-size: 24px;
}
.nav-link:hover {
    background-color: #E56327  !important;
    border: 1px solid #E56327 !important;
    border-radius: 5px;
    color: #0d47a1 !important;
}
.dropdown-item:hover {
    background-color: #E56327 !important;
    border: 1px solid #E56327 !important;
    border-radius: 5px;
    color: #0d47a1 !important;
}
.search {
    margin-top: 5px;
    width: 100%;
    
    
}
.form-inline {
   
    padding-left: 500px !important;
    
}
.btn-outline-success {
    background-color: #0d47a1 !important;
    color: black;
    border: 1px solid black;
    font-weight: bold;
}
.btn-outline-success:hover {
    background-color: #E56327 !important;
    color: #0d47a1 !important;
}
.carousel1 {
    margin-top: 5px !important;
}
.offer5 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #0d47a1;
    margin-top: 5px;
    align-items: center;
    justify-content: center;
}
.h11 {
    color: #E56327;
} 
.h12{
    margin-left: 12px;
    color: #E56327;
}
.maincard {
    margin-top: 5px;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card1 {
    width: 205px;
    margin-left: 130px;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px  #0d47a1;
    margin-bottom: 5px;
}
.grocery {
    width: 200px;
    height: 150px;
}
.card11 {
    border: solid 2px #0d47a1;
}
.card22 {
    margin-top: 10px;
    padding-left: 50px;
    border: solid 2px #0d47a1;
    height: 36px;
    text-decoration: none;
}
.card2 {
    width: 205px;
    margin-left: 130px;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px  #0d47a1;
    margin-bottom: 5px;
    
}
.card3 {
    width: 205px;
    margin-left: 130px;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px  #0d47a1;
    margin-bottom: 5px;
}
.card221 {
    color: black;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    border: solid 2px #0d47a1;
    height: 36px;
   
}
.card4 {
    width: 205px;
    margin-left: 130px;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px  #0d47a1;
    margin-bottom: 5px;
}
.card222 {
    color: black;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    padding-left: 70px;
    border: solid 2px #0d47a1;
    height: 36px;
    text-decoration: none;
}
.offer {
    color: black;
    background-color: #E56327;
    height: 5px;
    margin-top: 0px;
    margin-right: 50px;
}
.offer1 {
    color: black;
    background-color: #E56327;
    height: 5px;
    margin-top: 0px;
    margin-right: 50px;
}
.offer2 {
    color: black;
    background-color: #E56327;
    height: 5px;
    margin-top: 0px;
    margin-right: 50px;
}
.offer3 {
    color: black;
    background-color: #E56327;
    height: 5px;
    margin-top: 0px;
    margin-right: 50px;
}
.offer3:hover {
    color: #0d47a1;
    text-decoration: none;
}
.offer2:hover {
    color: #0d47a1;
    text-decoration: none;
}
.offer1:hover {
    color: #0d47a1;
    text-decoration: none;
}
.offer:hover {
    color: #0d47a1;
    text-decoration: none;
}
.offer6 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #0d47a1;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
}

.para {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
}

#para {
    color: #0d47a1;
    font-weight: bold;
    font-size: 36px;
}
.offer21 {
    color: black;
    background-color: #E56327;
    height: 5px;
    margin-top: 0px;
    
}
.offer21:hover {
    color: #0d47a1;
    text-decoration: none;
}
.mainfooter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 150px;
    background-color: #0d47a1;
    height: 300px;
}
.footer1 {
    margin-left: 100px;
    margin-top: 50px;
    color: #E56327;
    width: 300px;
}
.footer2 {
    margin-left: 100px;
    margin-top: 50px;
    color: #E56327;
    width: 300px;
}
.fa-facebook,.fa-instagram,.fa-youtube {
    color: #E56327;
    font-size: 32px;
   
}
.social {
    word-spacing: 40px;
}
.footer2 > h4 {
    color: #E56327;
}
.footer3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    background-color: #E56327;
    justify-content: center;
    color: #0d47a1;
    font-weight: bold;
}
.footer4 {
    position: fixed !important;
    top: 580px !important;
    right: 15px !important;
    font-size: 28px;
}
.fa-arrow-alt-circle-up {
    color: black;
    opacity: 70%;
}
/* aboutus css */

.mainimage {
    margin-top: 5px;
}
.logo2 {
    width: 100%;
    height: 350px;
}
.paragraph {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 5px;
    background-color: #0d47a1;
    
}
.who {
    display: flex;
    flex-wrap: wrap;
    color: #E56327;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: bold;
    margin-top: 10px;
}
.parabout {
    display: flex;
    flex-wrap: wrap;
    color: #E56327;
    justify-content: stretch;
    width: auto;
    margin-left: 25px;
    line-height: 35px;
    font-size: 20px;
   
}
.services {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5px;
    background-color: #0d47a1;
    height: 500px;
    
}
.s247 {
    margin-top: 60px;
    color: #E56327;
    margin-left: 100px;
    display: flex;
    flex-wrap: wrap;
    border: solid 2px #E56327;
    width: 300px;
    justify-content: center;
    height: 100px;
    align-items: center;
}
.fa-headset,.fa-truck,.fa-check-circle {
    font-size: 24px;
}
.s2471 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}
.s2472 {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-top: 5px;
}
.heading2 {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #0d47a1;
    color: #E56327;
}
.mainfooter1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5px;
    background-color: #0d47a1;
    height: 300px;
}

/* contact us css */
.contact {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    background-color: #0d47a1;
    flex-direction: column;
    width: auto;
}
.contact1 {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    color: #E56327;
    margin-left: 50px;
    text-decoration: underline;
}
.contact2 {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    color: #E56327;
    margin-left: 50px;
    flex-direction: column;
    font-weight: bold;
}

/* Grocery CSS */
.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5px;
    background-color: #0d47a1;
}
.products1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5px;
    background-color: #0d47a1;
}
.card {
    margin-left: 50px !important;
    margin-top: 15px !important;
    margin-bottom: 100px !important;
}
.card-title {
    font-size: 26px;
    color: #E56327;
}
.card-text {
    color: #E56327;
    font-weight: bold;
}
.btn {
  margin-left: 0px;
}
.btn:hover {
    background-color: #E56327 !important;
    color: #0d47a1;
}
.mainfooter2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5px;
    background-color: #0d47a1;
    height: 300px;
}
.card-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* Frozen CSS */
/* 
.card11 {
    padding-left: 75px;
    font-size: 24px;
    color: #E56327;
}
.card22 {
    padding-left: 50px;
    color: #E56327;
    font-weight: bold;
} */



@media screen and (max-width: 1024px) {
    .form-inline {
        padding-left: 300px !important;
    }
}
@media screen and (max-width: 824px) {
    .form-inline {
        padding-left: 150px !important;
    }
}
@media screen and (max-width: 674px) {
    .form-inline {
        padding-left: 50px !important;
    }
}
@media screen and (min-width: 575x) {
    .form-inline {
        padding-left: 0px !important;
    }
    
}
@media screen and (max-width: 1024px) {
    #para {
        font-size: 32px !important;
    }
}
@media screen and (max-width: 824px) {
    #para {
        font-size: 26px !important;
    }
}
@media screen and (max-width: 674px) {
    #para {
        font-size: 16px !important;
    }
}
@media screen and (max-width: 575x) {
    #para {
        font-size: 1px !important;
    }
    
}
@media screen and (max-width: 1200px) {
    .logo2 {
        width: 100%;
    }
}

@media screen and (max-width: 992px) {
    .logo2 {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .logo2 {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .logo2 {
        width: 100%;
    }
    
}
@media only screen and (max-width: 575px) {
    .logo2 {
        width: 100%;
    }
}
